.ui.button(
    on-click="_click"
    value="{{value}}"
    title="{{tooltip}}"
    class="                                                         \
        {{ class }}                                                 \
        ack-button                                                  \
        {{#if state === 'doing' || state === 'done' || state === 'error' }}    \
            {{^custom}}                                             \
                labeled icon                                        \
            {{/}}                                                   \
        {{/if}}                                                     \
        {{#disabled}}disabled{{/}}                                  \
        {{#if state === 'doing'}}disabled{{/if}}                    \
        {{#active}}active{{/}}                                      \
        "
    type="{{ type }}"
    
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    style="{{ style }} {{#if transparen}}background-color: transparent;{{/if}}"
    )
    +unless('custom')
        +iff('state === "doing"')
            +iff('heartbeat')
                i.icon.heart
            +else
                i.icon(style="z-index: 99999") #[.ui.active.mini.inverted.loader]
            +endif
        +elif('state === "done"')
            i.icon.checkmark
        +elif('state === "error"')
            i.warning.sign.icon
        +endif
    | {{yield}}
