btn(
    on-buttonclick="click"
    value="{{value}}"
    title="{{tooltip}}"
    class="{{ class }} ack-button {{#if (state === 'doing') || (state === 'done') || (state === 'error') }}labeled icon{{/if}}"
    type="{{ type }}"
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    style="{{ style }} {{#if transparen}}background-color: transparent;{{/if}}"
    )
    +iff('state === "doing"')
        +iff('heartbeat')
            i.icon.heart
        +else
            i.icon #[.ui.active.mini.inverted.loader]
        +endif
    +elif('state === "done"')
        i.icon.checkmark
    +elif('state === "error"')
        i.warning.sign.icon
    +endif
    | {{yield}}
