include ../../templates/mixins.jade
    
+partial('status-led')
 .status-led(
  id="{{ .actor_id }}"
  style="display: inline-block"
  ) 
  label
    img(
      src="img/{{ .src }}-{{ .val? 'on' : 'off' }}.png"
      alt="{{ .val? 'on' : 'off' }}"
      ondragstart="return false; "
      )      
    | {{ .pin_name }}
