include ../../templates/mixins.jade
    
+partial('status-led')
 div.draggable(
  id="{{ .actor_id }}"
  class="status-led"
  style="display: inline-block"
  ) 
  label
    img(
      src="img/light-bulb-icon-{{ .val? 'on' : 'off' }}-64.png"
      alt="{{ .val? 'on' : 'off' }}"
      ondragstart="return false; "
      )      
    | {{ .pin_name }} {{ .wid }}
