mixin if(name)
  != '{{#' + name + '}}'
  block
  != '{{/' + name + '}}'

mixin unless(name)
  != '{{^' + name + '}}'
  block
  != '{{/' + name + '}}'

mixin each(name)
  != '{{#' + name + '}}'
  block
  != '{{/' + name + '}}'

doctype html
html(lang="en-GB")
    head
        meta(charset="utf-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
            )
        title Database Example 2
        script(src="vendor.js")
        link(rel="stylesheet", href="vendor.css")
    body
        #main-output
        script#main-template(type="text/ractive")
            
            +if('login.err !== null')
                div(style="position: fixed; top: 10; right: 10")
                    alert(type="danger" closable="true") {{ login.err.msg }}
                
            panel(title="Login {{ login.ok ? 'ok!' : 'waiting...'}}" type="{{#if login.ok}}primary{{else}}warning{{/if}}")
                form-vertical
                    | {{#if !login.ok}}
                    form-group
                        b-label.col-sm-4 Username
                        col-sm-8: input.form-control(value="{{user.name}}")
                    form-group
                        b-label.col-sm-4 Password
                        col-sm-8: input.form-control(value="{{user.passwd}}")
                    form-group
                        btn(on-buttonclick="doLogin") Login!
                    | {{else}}
                    form-group 
                        p Welcome {{ login.name }}!
                        btn(on-buttonclick="doLogout") Logout
                    | {{/if}}

            +if('login.ok')
                panel(title="Add New Entry" type="{{#if login}}success{{else}}default{{/if}}")
                    form-horizontal
                        form-group
                            b-label.col-sm-4 Name
                            col-sm-8: input.form-control(value="{{newSales.name}}")
                        form-group
                            b-label.col-sm-4 Date
                            col-sm-8: input.form-control(value="{{newSales.date}}")
                        form-group
                            btn(on-buttonclick="addSalesEntry") Add sales entry!

                h2 Sales Entries:
                interactive-table(
                    tabledata="{{ salesEntries }}"
                    cols="a, b"
                    db="{{ mydb }}"
                    )
            ul
                +each("materials")
                    li Material: {{ . }}

        include ./components.jade
        script(src="database-example.js")
