.modal.modal-error.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.modal-danger
            .modal-header.
                <h4 class="modal-title">Grr...</h4>

            .modal-body(style="font-size:1.5rem") {{reason}}

            .modal-footer

.modal.modal-confirmation.fade(tabindex="-1" role="dialog" aria-labelledby="confirmation-modal" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                h4.modal-title {{ infoTitle }}

            .modal-body
                p {{ infoMessage }}

            //- .modal-footer.
            //-     <button type="button" class="btn btn-default" data-dismiss="confirmation-modal">Close</button>
            //-     <button type="button" class="btn btn-primary">Save changes</button>

btn(
    on-buttonclick="click"
    value="{{value}}"
    title="{{reason}}"
    class="{{ class }} ack-button"
    type="{{ type }}"
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    style="{{ style }}"
    )
    | {{#if state === "doing"}}
    icon-cog(spin="true")
    | {{elseif state === "done"}}
    icon-ok-sign
    | {{elseif state === "error"}}
    icon-alert
    | {{elseif state === "normal"}}
    icon-refresh
    | {{/if}}

    | {{yield}}
