btn(
    on-buttonclick="click"
    value="{{value}}"
    title="{{reason}}"
    class="{{ class }} ack-button labeled icon"
    type="{{ type }}"
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    style="{{ style }}"
    )
    | {{#if state === "doing"}}
    i.icon #[.ui.active.mini.inverted.loader]
    | {{elseif state === "done"}}
    i.icon.checkmark
    | {{elseif state === "error"}}
    i.warning.sign.icon
    | {{elseif state === "normal" || state === ""}}
    i.icon
    | {{/if}}
    
    | {{yield}}
