.ui.segments
    h3.ui.top.attached.huge.block.header checkbox
    .ui.attached.segment
        .ui.header Description

        pre checkbox(checked="\{{checkbox.checked1}}")


    .ui.segment
        .ui.large.header Examples

        .ui.medium.header Simple checkbox (no callback)
        p.
            Simple checkbox toggles #[code checked="\{{ variable }}"] on every press:
            #[checkbox(checked="{{checkbox.checked1}}") My Checkbox2 (no event)]

        .ui.medium.header Checkbox with callback (async checkbox)


        p
            span.
                Async checkbox fires the callback #[code checkboxchanged]
                on every press and let the callback handle its visual state
                and #[code checked] status:
            checkbox(
                checked="{{checkbox.checked1}}"
                on-statechange="checkboxchanged"
                value="hi!"
                ) My Checkbox2 (with callback)

        pre.
            checkbox(
                checked="\{{checkbox.checked1}}"
                on-statechange="checkboxchanged"
                value="hi!"
                ) My Checkbox2 (with callback)


        .ui.message.green My checkbox state is: {{ checkbox.checked1 ? 'checked!' : 'not checked...' }}
