.ui.hidden.divider 
.ui.hidden.divider 
.ui.hidden.divider 
.ui.hidden.divider 
.ui.hidden.divider 
.ui.hidden.divider 
.ui.hidden.divider 
.ui.hidden.divider 
+iff('! login.loggedin')
    .ui.four.column.stackable.center.aligned.grid 
        .column 
            form.ui.form 
                .field
                    .ui.left.icon.input 
                        input(
                            value="{{login.username}}" 
                            placeholder="username")
                        i.user.icon 
                .field 
                    .ui.left.icon.input
                        input(
                            value="{{login.password}}" 
                            placeholder="password")
                        i.lock.icon 
                login-button.fluid.green(
                    username="{{login.username}}" 
                    password="{{login.password}}"
                    loggedin="{{login.loggedin}}") Login
                            
        .ui.horizontal.divider or 
        .column 
            form.ui.form 
                .field
                    .ui.left.icon.input 
                        input(
                            value="{{login.token}}" 
                            placeholder="token")
                        i.lock.icon 
                login-button.purple.fluid(
                    token="{{login.token}}" 
                    loggedin="{{login.loggedin}}"
                    disabled="true") Login with token
+else 
    .ui.four.column.stackable.center.aligned.grid 
        .column 
            h1.ui.header
                i.green.check.icon 
                | Logged in 
            login-button.fluid.red(
                action="logout"
                loggedin="{{login.loggedin}}") Logout
+endif
        
