anchor slider
.ui.segments
    h3.ui.top.attached.block.header slider #[a(href="#slider") #[i.linkify.icon]]
    .ui.segment 
        h3.ui.header Test Inputs 
        .ui.input: input(value="{{slider.one.curr}}")
        .ui.input: input(value="{{slider.two.curr}}")

    .ui.segment            
        h3.ui.header Simple Slider 
        .ui.equal.width.stackable.grid 
            .column
                slider(value="{{slider.one.curr}}" max="{{slider.one.max}}")
                slider(value="{{slider.two.curr}}" max="{{slider.one.max}}")
            .column
                h3.ui.header Simple Vertical Slider 
                .ui.equal.width.stackable.grid 
                    .column 
                        slider(vertical value="{{slider.one.curr}}" max="{{slider.one.max}}")
                    .column
                        slider(vertical value="{{slider.two.curr}}" max="{{slider.one.max}}")
                    

    .ui.segment            
        h3.ui.header Range Slider 
        .ui.equal.width.stackable.grid 
                .column
                    slider(
                        range 
                        upper-value="{{slider.one.curr}}" 
                        lower-value="{{slider.two.curr}}" 
                        max="{{slider.one.max}}")
                        
                .column
                    h3.ui.header Vertical Range Slider 
                    slider(
                        vertical 
                        range 
                        upper-value="{{slider.one.curr}}" 
                        lower-value="{{slider.two.curr}}" 
                        max="{{slider.one.max}}")
