.ui.action.input 
    input(value="{{ amount }}" type="{{ inputType }}" placeholder="{{placeholder}}")
    ack-button(
        class="right {{class}}"
        type="{{buttonType}}"
        on-buttonclick="_buttonclick"
        value="{{ value }}"
        disabled="{{ disabled }}"
        enabled="{{ enabled }}"
    ) {{yield}} 
