ack-button.aea-checkbox(
    on-click="_statechange"
    class="{{ class }}                                  \
        {{#if transparent}}basic{{/if}}                 \
        {{#if checkState === 'doing'}}labeled{{/if}}    \
        icon                                            \
        "
    style="{{ style }} {{#if transparent}}background-color: transparent;{{/if}} text-align: left; "
    type="{{type}}"
    custom
    disabled="{{disabled}}"
    )
    +iff("checkState === 'checked'")
        i.icon.checkmark.box
    +elif("checkState === 'unchecked'")
        i.icon.square.outline
    +elif("checkState === 'undefined'")
        i.icon.minus.square.outline
    +elif("checkState === 'doing'")
        i.icon 
            .ui.active.mini.inverted.loader
    +endif
    | {{yield}}
        
