ack-button.aea-checkbox(
    on-click="_statechange"
    class="{{ class }}                                  \
        {{#if transparent}}basic{{/if}}                 \
            \
        labeled icon                                            \
        "
    style="{{ style }} {{#if transparent}}background-color: transparent;{{/if}} text-align: left; \
            {{#readonly}}cursor: not-allowed;{{/}} "
    type="{{type}}"
    custom
    disabled="{{disabled}}"
    tooltip="{{tooltip}}"
    readonly="{{readonly}}"
    )
    +iff('error')
        i.icon.warning.sign
    +else
        +iff('busy')
            i.icon: .ui.active.mini.inverted.loader
        +else
            +iff("check_state === 'checked'")
                i.icon.checkmark.box
            +elif("check_state === 'unchecked'")
                i.icon.square.outline
            +endif
        +endif
    +endif
    |
    | {{yield}}

        
+if('tristate')
    .ui.button.icon(class="{{class}}" on-click="@.set('checked', null)")
        icon.eraser
