h1 Siparişler:
order-table(
    settings="{{ orders }}"
    db="{{ db }}"
    view="orders/getOrders"
    gen-entry-id="{{ genEntryId }}"
    x="{{ customersList }}"
    output="{{ production.tabledata }}"
    )
    +partial('addnewTitle')
        | Yeni Sipariş Ekle
    
    +partial('header')
        h3 Filtreler
        row 
            col-md-3
                btn-group
                    btn(on-buttonclick="setFilter" value="todaysOrders") Bugün!
                    btn(on-buttonclick="setFilter" value="all") Tümü
                    btn(on-buttonclick="setFilter" value="doing") Üretimdekiler
                input(type="text" value="{{ selectedFilter }}")
        row
            col-md-12
                textarea(value="{{ JSON.stringify(curr) }}")
    
    +partial('viewForm')
        h1 {{ curr.client }}
        .row 
            .col-md-8
                p Sipariş tarihi: {{ curr.orderDate }}
                p Teslim tarihi: {{ curr.dueDate }}
                ol 
                    +each('curr.entries:i')
                        li {{ .['product'] }} -> {{ .['amount'] }}
            .col-md-4
                | {{#if curr.state === "doing"}}
                h3 ÜRETİMDE!
                btn(on-buttonclick="runHandler" value="cancelProduction" type="danger") Üretimi iptal et!
                btn(on-buttonclick="runHandler" value="productionFinished" type="success") Üretim Tamam!
                | {{else}}
                btn(on-buttonclick="runHandler" value="sendToProduction" type="warning") Üretime gönder!
                | {{/if}}
                
    +partial('editForm')
        panel(title="Sipariş {{curr._id}}" type="primary")
            form-vertical
                form-group
                    span Müşteri: 
                    search-combobox(data="{{ x }}" selected="{{ curr.client }}")
                    p Client id: {{ curr.client }}
                form-group
                    row 
                        .col-md-6.col-xs-6
                            row 
                                col-md-4: span Sipariş Tarihi: 
                                col-md-8
                                    date-picker(unix="{{ curr.orderDate }}")
                                    p order date: {{ curr.orderDate }}
                        .col-md-6.col-xs-6
                                row 
                                    col-md-4: span Teslim Tarihi:
                                    col-md-8
                                        date-picker(unix="{{ curr.dueDate }}")
                                        p Due date: {{ curr.dueDate }}
                +each('curr.entries:i')
                    form-group
                        span Type
                        input(value="{{ .['product'] }}")
                        input(value="{{ .['amount'] }}")
                        btn(on-buttonclick="deleteOrder" value="entries: {{ i }}")
                            icon-remove
                form-group
                    btn(on-buttonclick="addNewEntry" value="entries")
                        icon-plus 
                        span Kalem Ekle
            btn(on-buttonclick="newOrderClose") Kapat!
            btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}

h1 Üretim Kalemlerinin Toplam Miktarları        
data-table(
    settings="{{ production.settings }}"
    tabledata="{{ production.tabledata }}"
    output="{{ production.output }}"
    )
    +partial('header')
        //input(value="{{ filterOpts.selected }}")
    +partial('viewForm')
        span This is view form!
        
//-
h1 Gereken Hammadde Miktarları        
data-table(
    settings="{{ materialUsage.settings }}"
    production-list="{{ production.output }}"
    recipes="{{ materialUsage.recipes }}"
    )
    +partial('header')
        //input(value="{{ filterOpts.selected }}")
    +partial('viewForm')
        span This is viev form!
