h1 Siparişler:
order-table(
    settings="{{ orders }}"
    db="{{ db }}"
    view="orders/getOrders"
    gen-entry-id="{{ genEntryId }}"
    x="{{ customersList }}"
    output="{{ production.tabledata }}"
    )
    +partial('addnewTitle')
        | Yeni Sipariş Ekle
    
    +partial('header')
        h3 Filtreler
        row 
            col-md-12
                btn-group
                    btn(on-buttonclick="setFilter" value="all") Tümü
                    dropdown
                        btn(on-buttonclick="setFilter" value="todaysOrders") Bugün!
                        +if('selectedFilter === "todaysOrders"')
                            btn(dropdown="true")
                                caret 
                            dd-menu 
                                dd-item
                                    btn(on-buttonclick="runHandler" value="{{ ['sendToProduction', 'all-visible'] }}" type="danger") Tümünü Üretime Gönder!

                    btn(on-buttonclick="setFilter" value="doing" type="warning") Üretimdekiler
                    btn(on-buttonclick="setFilter" value="done" type="success") Tamamlananlar                    
    +partial('viewForm')
        h1 {{ curr.client }}
        .row 
            .col-md-8
                p Sipariş tarihi: {{ curr.orderDate }}
                p Teslim tarihi: {{ curr.dueDate }}
                ol 
                    +each('curr.entries:i')
                        li {{ .['product'] }} -> {{ .['amount'] }}
            .col-md-4
                //- textarea(value="{{ JSON.stringify(curr) }}" rows="10"  cols="30")
                | {{#if curr.state === "doing"}}
                h3 ÜRETİMDE!
                btn(on-buttonclick="runHandler" value="{{ ['changeProductionState', curr._id, 'aborted']}}" type="danger") Üretimi iptal et!
                btn(on-buttonclick="runHandler" value="{{ ['changeProductionState', curr._id, 'done']}}" type="success") Üretim Tamam!
                | {{/if}}
                | {{#if curr.state !== 'done' && curr.state !== 'doing'}}
                btn(on-buttonclick="runHandler" value="{{ ['sendToProduction', curr._id] }}" type="warning") Üretime gönder!
                | {{/if}}

                h3 Toplam Hammadde Gereksinimi
                ul
                    +each("runHandler('getCurrUsage')")
                        li {{ .name }} => {{ .usage }}
                
                
                
    +partial('editForm')
        panel(title="Sipariş {{curr._id}}" type="primary")
            form-vertical
                form-group
                    span Müşteri: 
                    search-combobox(data="{{ x }}" selected="{{ curr.client }}")
                    p Client id: {{ curr.client }}
                form-group
                    span Sipariş Tarihi: 
                    date-picker(unix="{{ curr.orderDate }}")
                    p order date: {{ curr.orderDate }}
                form-group
                    span Teslim Tarihi:
                    date-picker(unix="{{ curr.dueDate }}")
                    p Due date: {{ curr.dueDate }}
                +each('curr.entries:i')
                    form-group
                        span Type
                        input(value="{{ .['product'] }}")
                        input(value="{{ .['amount'] }}")
                        btn(on-buttonclick="deleteOrder" value="entries: {{ i }}")
                            icon-remove
                form-group
                    btn(on-buttonclick="addNewEntry" value="entries")
                        icon-plus 
                        span Kalem Ekle
            btn(on-buttonclick="newOrderClose") Kapat!
            btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}

h1 Üretim Kalemlerinin Toplam Miktarları        
data-table(
    settings="{{ production.settings }}"
    tabledata="{{ production.tabledata }}"
    output="{{ production.output }}"
    )
    +partial('header')
        //input(value="{{ filterOpts.selected }}")
    +partial('viewForm')
        span This is view form!
        
//-
h1 Gereken Hammadde Miktarları        
data-table(
    settings="{{ materialUsage.settings }}"
    production-list="{{ production.tabledata }}"
    recipes="{{ materialUsage.recipes }}"
    )
    +partial('header')
        //input(value="{{ filterOpts.selected }}")
    +partial('viewForm')
        span This is viev form!
