h1 Destek 

:markdown
    Burası destek sayfasıdır. Sistemle ilgili tüm hata bildirimi ve özellik ekleme taleplerinizi
    buradan yapabilirsiniz. (Yedek: info@aktos.io)

    Neler hatadır? 
    
    * Yazılım güncellemesi dışında herhangi bir sebepten dolayı sayfayı yenilemeniz gerekiyorsa
    * Bir şeyi aramak/bulmak için tahmin yürütmeniz gerekiyorsa 
    * Sistemle ilgili herhangi bir soruyu bir arkadaşınıza sorup öğrenmeniz gerekiyorsa 
    * Sayfalar arasında rahat gezinemiyorsanız 
    * Sayfalar arasında hızlı gezinemiyorsanız
    * Tarayıcınız/bilgisayarınız bir anda kapandığında, sistemi tekrar açtığınızda 
      az önce girmekte olduğunuz veriler kaybolmuşsa
    
    Hata vardır, bildiriniz. 



issue-tracker(
    settings="{{ support.settings }}"
    db="{{ db }}"
    view="support/issues"
    gen-entry-id="{{ genEntryId }}"
    changes="{{ changes }}"
    )
    +partial('addnewTitle')
        | Yeni İstek
    
    +partial('header')
        h3 Filtreler
    +partial('viewForm')
        h1 {{ curr.subject }} 
        
        p {{ curr.body }}
                        
    +partial('editForm')
        panel(title="Ticket {{curr._id}}" type="primary")
            form-vertical
                form-group
                    input(value="{{ curr.subject }}")
                    ace-editor(code="{{ curr.body }}")
                form-group
                    btn(on-buttonclick="newOrderClose") Kapat!
                    btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}
