btn(
    on-buttonclick="toggleChecked"
    tooltip="{{tooltip}}"
    class="basic {{ class }} aea-checkbox"
    style="{{ style }}"
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    type="{{type}}"
    )
    .pull-left.
        {{#if state === 'checked'}}
        #[icon.checkmark.box]
        {{elseif state === 'unchecked'}}
        #[icon.square.outline]
        {{elseif state === 'doing'}}
        #[icon.setting.loading]
        {{/if}}
         {{yield}}
