btn(
    on-buttonclick="toggleChecked"
    tooltip="{{tooltip}}"
    class!="{{#if ! transparent}}basic{{/if}} {{ class }} aea-checkbox"
    style="{{ style }} {{#if transparent}}background-color: transparent;{{/if}} text-align: left; "
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    type="{{type}}"
    )
    +iff("state === 'checked'")
        icon.checkmark.box
    +elif("state === 'unchecked'")
        icon.square.outline
    +elif("state === 'doing'")
        icon.setting.loading 
    +endif
    | {{yield}}
        
