.modal.modal-error.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.modal-danger
            .modal-header.
                <h4 class="modal-title">Grr...</h4>

            .modal-body(style="font-size:1.5rem") {{reason}}

            .modal-footer

btn(
    on-buttonclick="toggleChecked"
    tooltip="{{tooltip}}"
    class="basic {{ class }} aea-checkbox"
    style="{{ style }}"
    disabled="{{ (disabled || selfDisabled) || !(enabled) }}"
    type="{{type}}"
    )
    .pull-left.
        {{#if state === 'checked'}}
        #[icon.checkmark.box]
        {{elseif state === 'unchecked'}}
        #[icon.square.outline]
        {{elseif state === 'doing'}}
        #[icon.setting.loading]
        {{/if}}
         {{yield}}
