
extends ../templates/brunch.jade

block title
  title aktos webui

block content  
  include ../templates/mixins.jade
  include ../partials/ractive.jade
    
  +partial('projects-buttons')
    a(
      data-role="button" 
      href="{{ .addr? addr: '#' }}" 
      data-shadow="false" 
      data-theme="none"
      )
      img(
        class="project-buttons" 
        src="{{ .src }}"
      )
      p(style="margin: auto")
      | {{ .label }}
      
  #home-page(data-role='page', data-theme='b')
    | {{>nav-bar {active_button: 'home-page'}}}
    #header1
    .content
      .row
        .col-sm-4.home-col-padding
          | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        .col-sm-4.home-col-padding
          | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        .col-sm-4.home-col-padding
          | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    | {{>connection-status {}}}

  //- projects page
  #projects(data-role='page', data-theme='b')
    | {{>nav-bar {active_button: 'projects'}}}
    .ui-grid-b(data-theme='b')
      .ui-block-a
        | {{>projects-buttons {
        | src: 'projects/akhisar-atiksu/proje-kapak.jpg',
        | label: 'Akhisar Atıksu Arıtma',
        | addr: 'naber'}
        | }}
      .ui-block-b
        | {{>projects-buttons {
        | src: 'projects/doganbey-atiksu/tesis-ustten.jpg',
        | label: 'Doğanbey Atıksu Arıtma'}
        | }}
      .ui-block-c
        | {{>projects-buttons {
        | src: 'projects/delphi-kablo-zirhi-soyma/proje-kapak.jpg',
        | label: 'Delphi Otomativ (İzmir)'}
        | }}
      .ui-block-a
        | {{>projects-buttons {
        | src: 'projects/hms-telemetri/proje-kapak.jpg',
        | label: 'HMS Üretim Takip'}
        | }}
      .ui-block-b
        | {{>projects-buttons {
        | src: 'projects/iski/scada.jpg',
        | label: 'İski Terfi İstasyonu'}
        | }}
      .ui-block-c
        | {{>projects-buttons {
        | src: 'projects/lintek-newtech-cep-otomati/cep-otomati-onden-1.jpg',
        | label: 'Newtech Cep Otomatı'}
        | }}
      .ui-block-a
        | {{>projects-buttons {
        | src: 'projects/versis-asfalt-plenti/proje-kapak.jpg',
        | label: 'Versis Asfalt Plenti'}
        | }}
      .ui-block-b
        | {{>projects-buttons {
        | src: 'projects/serel/proje-kapak.jpg',
        | label: 'Serel Seramik Üretim Takip'}
        | }}
      .ui-block-c
        | {{>projects-buttons {
        | src: 'projects/kku-nukleer-fizik-lab/proje-kapak.jpg',
        | label: 'Gama-Gama Korelasyon Deney Otomasyonu'}
        | }}
  
  //- products page 
  #products(data-role='page', data-theme='b')
    | {{>nav-bar {active_button: 'products'}}}
  
  //- demos page 
  #demos(data-role='page', data-theme='b')
    | {{>nav-bar {active_button: 'demos'}}}
    
    .row
      .col-md-offset-3.col-md-6.col-md-offset-3
        p(style="padding: 3em"). 
          Bu sayfada <b>aktos-scada</b>'da kullanılan 
          görsel nesnelerin örnekleri bulunur. 
    
    div(data-role="collapsible")
      h3 Test Pin
      
      .row
        .col-md-offset-1.col-md-2
          div
            | {{>push-button {pin_name: 'test-pin', label: 'TEST PIN'}}}
          div
            | {{>switch-button {pin_name: 'test-pin', label: 'TEST PIN'}}}
        .col-md-9
          | {{>status-led {pin_name: 'test-pin'}}}

    div(data-role="collapsible")
      h3  Delphi simulation 
      fieldset(data-role='controlgroup', data-type='horizontal')
        | {{>switch-button {pin_name: 'forward-limit', label: 'F-limit'}}}
        | {{>switch-button {pin_name: 'backwards-limit', label: 'B-limit'}}}
      fieldset(data-role='controlgroup', data-type='horizontal')
        | {{>push-button {pin_name: 'move-forward', label: 'Forward'}}}
        | {{>push-button {pin_name: 'move-backwards', label: 'Backwards'}}}
        | {{>push-button {pin_name: 'forward-limit', label: 'F-limit'}}}
        | {{>push-button {pin_name: 'backwards-limit', label: 'B-limit'}}}
      fieldset(data-role='controlgroup', data-type='horizontal')
        | {{>status-led {pin_name: 'piston.enab'}}}
        | {{>status-led {pin_name: 'piston.dir'}}}
    
    div(data-role="collapsible")
      h3  Test looping 
      | {{>switch-list {my_list: ["hello", "world"], connected: true}}}

    div(data-role="collapsible")            
      h3 Graph
      .ui-grid-a(style='height: 300px')
        .ui-block-a(style='height: 100%')
          | {{>line-graph {pin_name: 'slider-2'}}}
        .ui-block-b
          | {{>slider {pin_name:"slider-2", val: 25}}}
          
    div(data-role="collapsible")            
      h3 Slider 
      |         {{>slider {pin_name:"slider-2", val: 25}}}
      |         {{>slider {pin_name:"slider-1", val: 45}}}
      |         {{>slider {pin_name:"slider-1", val: 45}}}
      |         {{>slider {pin_name:"slider-1", val: 45}}}
      |         {{>slider {pin_name:"slider-1", val: 45}}}
      
    div(data-role="collapsible")            
      h3  Analog display 
      fieldset(data-role='controlgroup', data-type='horizontal')
        | {{>analog-display {pin_name: 'analog-1'}}}
        | {{>analog-display {pin_name: 'analog-2'}}}
        | {{>analog-display {pin_name: 'slider-2'}}}
    
    | {{>connection-status {}}}

  //- contact page 
  #contact-page(data-role='page', data-theme='b')
    | {{>nav-bar {active_button: 'contact-page'}}}
    h2 İLETİŞİM
    .content
      dl.dl-horizontal
        dt
          a(data-role='button', href='mailto:info@aktos-elektronik.com')
            img(src='img/icons/64x64/@.png')
        dd(style='padding: 2em;') info@aktos-elektronik.com
        dt
          .hidden-desktop
            a(data-role='button', href='tel:+905553066003')
              img(src='img/icons/64x64/microphone.png')
          .visible-desktop
            a(data-role='button', href='#')
              img(src='img/icons/64x64/microphone.png')
            
        dd(style='padding: 2em;')  0(555) 306 6003 
        dt
          .hidden-desktop
            a(data-role='button', href='geo:38.393927,27.036649')
              img(src='img/icons/64x64/pin.png')
          .visible-desktop
            a(data-role='button', href='#')
              img(src='img/icons/64x64/pin.png')
        dd(style='padding: 2em;')
          div
            | DEÜ Tıp Fakültesi Kampüsü DEPARK Teknoloji Geliştirme Bölgesi Ofis: P2/E Balçova İzmir
          .hidden-phone(style='padding-top: 2em;')
            img(style='background-image: url(https://static-maps.yandex.ru/1.x/?lang=en-US&ll=-73.7638,42.6564&z=13&l=map&size=600,300);', src='https://static-maps.yandex.ru/1.x/?lang=en-US&ll=-73.7638,42.6564&z=13&l=map&size=600,300', alt='Yandex Map of -73.7638,42.6564')
  