form-vertical
    form-group
        input.form-control.username-input(value="{{context._user.name}}" placeholder="{{ usernamePlaceholder }}")
    form-group
        input.form-control.password-input(value="{{context._user.password}}" type="password" placeholder="{{ passwordPlaceholder }}")
    form-group

        ack-button(
            on-buttonclick="doLogin1"
            class="btn-lg btn-block btn-signin"
            type!="{{#if warnCapslock}}warning{{else}}primary{{/if}}"
            ) Login (Cici Meze)

        hr

        ack-button(
            on-buttonclick="doLogin0"
            class="btn-lg btn-block btn-signin"
            type!="{{#if warnCapslock}}warning{{else}}primary{{/if}}"
            ) Login0

| {{#if warnCapslock}}
.alert.alert-warning
    strong CAPS-LOCK açık olabilir...
| {{/if}}
//-
    .alert.alert-danger.fade.in(role="alert" style="width: 100%; position: fixed; top: 0; left: 0").
        <a href="#" class="close" on-click="closeAlert" aria-label="close">&times;</a>
        {{{ context.err.msg }}}
