ack-button(
    class="{{class}}" 
    on-buttonclick="doAction"
    disabled="{{disabled}}"
    enabled="{{enabled}}") {{yield}}
    
check-login(loggedin="{{loggedin}}"
            username="{{username}}")
