include ../../templates/mixins.pug
//-
    parameters:
        ... TODO

    internals:
        tableview: [{id: column-id, cols: [col1, col2, col3, ...], background-color: css-color} for rows]
.modal.modal-error.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.modal-danger
            .modal-header.
                <h4 class="modal-title">Hata</h4>
            .modal-body {{errorMessage}}
            .modal-footer

.modal.modal-new.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.modal-danger
            .modal-header.
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Yeni Kayıt</h4>

            .modal-body(
                style="max-height: calc(100vh - 200px); overflow-y: auto;")
                | {{#if addingNew}}
                | {{>editForm}}
                | {{/if}}

            .modal-footer

//- Header part
+if('firstRunDone') {{>header}}
//- End Of Header

r-table
    thead
        | {{#if firstRunDone}}
        +if('hasAddNewButton')
            tr
                td(colspan="{{ columnList.length + 1 }}")
                    row
                        .col-md-3.col-sm-3
                            btn(on-buttonclick="addNewOrder")
                                icon-plus
                                span {{yield addnewTitle}}
                        .col-md-6
                        .col-md-3
                //-
                    .row
                        .col-md-12.
                             {{#if addingNew}}{{>editForm}}{{/if}}
        tr
            td(colspan="{{ columnList.length + 1 }}")
                ack-button(on-buttonclick="kickChanges") Yenile
                span(style="color: lightgray; margin-left: 20px") {{#unless openingRow}}{{ openingRowMsg }}{{/unless}}


        tr.
            {{#each columnList}}
                <th>{{#if typeof . === 'string'}}{{> { template: . } }}{{else}}{{{ . }}}{{/if}}</th>
            {{/each}}
        | {{else}}
        tr
            td(colspan="{{ columnList.length + 1 }}")
                h2
                    icon-cog(spin="true")
                    span Yükleniyor...
        | {{/if}}

    tbody
        +each('tableview_visible:i')
            tr.input-line(
                data-anchor="{{.id}}"
                style="{{#if isClicked(.id)}}{{#if isEditingLine(.id)}}border: 2px dashed white;{{else}}border: 2px solid white; {{/if}}{{elseif clickedIndex !== null}}opacity: 0.4; background-color: gray;{{/if}}{{.style}}{{#if isLastClicked(.id)}}border: 2px solid #4285F4;{{/if}}"
                on-click="clicked"
                )
                | {{#if isEditingLine(.id)}}
                //- -----------------------------------------------
                //- edit form
                //- -----------------------------------------------
                td(colspan="{{ columnList.length + 1 }}" style="margin: 2px")
                    btn-group
                        | {{#unless readonly}}
                        btn(
                            on-buttonclick="toggleEditing"
                            type="{{#if editTooltip }}danger{{else}}default{{/if}}"
                            active="{{editable}}"
                            tooltip="Düzenle"
                            )
                            | {{#if editable}} <icon-check/> {{else}} <icon-unchecked /> {{/if}}
                            icon-pencil
                        | {{/unless}}
                        btn(type="info" on-buttonclick="newOrderClose" tooltip="Kapat"): icon-remove
                    hr
                    | {{>editForm}}

                | {{elseif isClicked(.id)}}
                //- -----------------------------------------------
                //- view form
                //- -----------------------------------------------
                td(colspan="{{ columnList.length + 1 }}" style="margin: 2px")
                    | {{#if openingRow}}
                    +each(".cols:i").
                        <td data-th="{{columnList[i]}}">{{#if typeof . === 'string'}}{{> { template: . } }}{{else}}{{{ . }}}{{/if}}</td>

                    hr
                    btn.btn-sm(type="info" on-buttonclick="newOrderClose" tooltip="Kapat") #[icon-remove]
                    |  #[icon-cog(spin="true")] #[strong {{ openingRowMsg }}]
                    | {{else}}
                    btn-group
                        | {{#unless readonly}}
                        btn(
                            on-buttonclick="toggleEditing"
                            type="{{#if editTooltip }}danger{{else}}default{{/if}}"
                            active="{{editable}}"
                            tooltip="Düzenle"
                            )
                            | {{#if editable}} <icon-check/> {{else}} <icon-unchecked /> {{/if}}
                            icon-pencil
                        | {{/unless}}
                        btn(type="info" on-buttonclick="newOrderClose" tooltip="Kapat"): icon-remove
                    hr
                    | {{>viewForm}}
                    | {{/if}}
                | {{else}}
                //- -----------------------------------------------
                //- columns
                //- -----------------------------------------------
                +each(".cols:i").
                    <td data-th="{{columnList[i]}}">{{#if typeof . === 'string'}}{{> { template: . } }}{{else}}{{{ . }}}{{/if}}</td>
                | {{/if}}

    +if('settings.pageSize > 0')
        +if('(tableview.length / settings.pageSize) > 1')
            tfoot
                tr
                    td(colspan="{{ columnList.length + 1 }}")
                        btn-group
                            +each('range(1, Math.ceil(tableview.length / settings.pageSize)):i')
                                btn(on-buttonclick="selectPage" value="{{ i }}" type!="{{#if currPage === i}}info{{/if}}") {{ . }}
