//- 
    parameters: 
        ... TODO
        
    internals: 
        tableview: [{id: column-id, cols: [col1, col2, col3, ...], background-color: css-color} for rows]
+component('data-table')
    b-table 
        thead
            +unless('readonly')
                tr
                    td(colspan="{{ columnList.length + 1 }}")
                        row 
                            | {{#if addingNew}}
                            |   {{>editForm}}
                            | {{else}}
                            .col-md-3.col-sm-3
                                +unless('addingNew')
                                    btn(on-buttonclick="addNewOrder")
                                        icon-plus
                                        span {{yield addnewTitle}}
                            | {{/if}}
            tr
                td(colspan="{{ columnList.length + 1 }}")
                    | {{>header}}

            tr.
                {{#if clickedIndex !== null}}
                    <th>Editing...</th>
                {{else}}
                    <th>#</th>
                {{/if}}
                {{#each columnList}}
                    <th>{{{ . }}}</th>
                {{/each}}

        tbody
            +each('tableview_visible:i')
                tr.input-line(
                    style="{{#if isClicked(.id)}}border: 2px solid white;{{/if}}{{#if isEditingLine(.id)}}border: 2px dashed white;{{/if}} {{.style}}"
                    on-doubleclick="clicked"
                    )
                    //- first column (numbering or controls)
                    | {{#if isClicked(.id)}}
                    td
                        btn-group-vertical
                            | {{#unless readonly}}
                            btn(
                                on-buttonclick="toggleEditing"
                                type="{{#if editTooltip }}danger{{else}}default{{/if}}"
                                active="{{editable}}"
                                tooltip="Düzenle"
                                )
                                | {{#if editable}} <icon-check/> {{else}} <icon-unchecked /> {{/if}}
                                icon-pencil 
                            | {{/unless}}
                            btn(type="info" on-buttonclick="newOrderClose" tooltip="Kapat"): icon-remove
                    | {{else}}
                    td.
                        {{#if isLastClicked(.id) }}
                            <tag>{{ parseInt(.no) + 1 }}</tag>
                        {{else}}
                            {{ parseInt(.no) + 1 }}
                        {{/if}}
                    | {{/if}}
                    //- rest of columns (data)
                    | {{#if isEditingLine(.id)}}
                    td(colspan="{{ columnList.length }}") {{>editForm}}
                    | {{elseif isClicked(.id)}}
                    td(colspan="{{ columnList.length }}" style="color: black") {{>viewForm}}
                    | {{else}}
                    +each(".cols")
                        td {{{.}}}
                    | {{/if}}
        
        +if('settings.pageSize > 0')
            +if('(tableview.length / settings.pageSize) > 1')
                tfoot
                    tr
                        td(colspan="{{ columnList.length + 1 }}")
                            btn-group
                                +each('range(1, Math.ceil(tableview.length / settings.pageSize)):i')
                                    btn(on-buttonclick="selectPage" value="{{ i }}") {{ . }}
    
                        
