
//- table form controls 
+partial('controls')
    .ui.buttons 
        +unless('readonly')
            btn(
                on-buttonclick="toggleEditing"
                class="{{#if editTooltip }}red{{else}}blue{{/if}} {{#if editable}}red{{/if}}"
                active="{{editable}}"
                tooltip="Düzenle"
                )
                i.write.icon 
            .or
        
        btn(on-buttonclick="newOrderClose" tooltip="Kapat")
            i.remove.icon
    .ui.horizontal.divider 


//- tableview partials 
+partial('renderMarkup').
    {{#if typeof . === 'string'}}
        {{> { template: . } }}
    {{else}}
        {{{ . }}}
    {{/if}}


//- Header part
+iff('firstRunDone')
    | {{>header}}
    //- End Of Header

    .ui.segment
        r-table
            thead
                //- print column headers 
                tr
                    +each('columnList')
                        th {{>renderMarkup}}                    
            //- -----------------------------------------------
            //- body of table 
            //- -----------------------------------------------
            tbody
                +each('tableview_visible:i')
                    tr(
                        data-anchor="{{.id}}"
                        on-click="@this.fire('clicked', this)"
                        )                        
                        //- -----------------------------------------------
                        //- edit form
                        //- -----------------------------------------------
                        +iff('isEditingLine(.id)')
                            td(colspan="{{ columnList.length }}")
                                | {{>controls}}
                                | {{>editForm}}

                        //- -----------------------------------------------
                        //- view form
                        //- -----------------------------------------------
                        +elif('isViewingRow(.id)')
                            td(colspan="{{ columnList.length }}")                            
                                | {{>controls}}
                                | {{>viewForm}}
                            
                        //- -----------------------------------------------
                        //- normal rows 
                        //- -----------------------------------------------
                        +else
                            +each(".cols:colindex")
                                td(data-th="{{columnList[colindex]}}")
                                    +iff('colindex === 0 && isLastClicked(tableview_visible[i].id)')
                                        +iff('isOpeningNow(tableview_visible[i].id)')
                                            //- if row is opening, mark first column with teal ribbon label 
                                            .ui.teal.ribbon.label {{>renderMarkup}}
                                        +else
                                            //- if row is opening, mark first column with orange ribbon label 
                                            .ui.orange.ribbon.label {{>renderMarkup}}
                                        +endif
                                    +else.
                                        {{>renderMarkup}}
                                    +endif
                                +iff('isLastClicked(.id)')
                                    .ui.dimmer.table-section-of-data-table
                                        .content
                                            .center 
                                                btn.small.circular.red.icon(on-buttonclick="newOrderClose" tooltip="Kapat") #[i.remove.icon]
                                                .ui.active.centered.inline.text.loader {{ openingRowMsg }}
                                +endif
                        +endif

            +if('settings.pageSize > 0')
                +if('(tableview.length / settings.pageSize) > 1')
                    tfoot
                        tr
                            td(colspan="{{ columnList.length }}")
                                btn-group
                                    +each('range(1, Math.ceil(tableview.length / settings.pageSize)):i')
                                        btn(on-buttonclick="selectPage" value="{{ i }}" type!="{{#if currPage === i}}info{{/if}}") {{ . }}

+else
    //- display "Loading" indicator till first fetch of the tabledata  
    .ui.active.centered.inline.big.text.loader Yükleniyor  
+endif
