include ../../templates/mixins.jade
    
+partial('b-slider')
  .b-slider.
    <input 
      type="text" 
      class="b-slider__input span2" 
      value="{{ .val ? .val : '---' }}" 
      data-slider-min="-20" 
      data-slider-max="20" 
      data-slider-step="1" 
      data-slider-value="-14" 
      data-slider-orientation="vertical" 
      data-slider-selection="after"
      data-slider-tooltip="hide"
      />