anchor data-table
.ui.segments
    h3.ui.top.attached.block.header data-table #[a(href="#data-table") #[i.linkify.icon]]
    h3.ui.block.big.attached.header Tests for Example 
    .ui.attached.segment
        .ui.relaxed.divided.list
            .item
                i.large.middle.aligned.edit.icon
                .content 
                    a.header Test "Refresh" button
                    .description.
                        Click "refresh" button. Expect table to be refreshed. 
            .item
                i.large.middle.aligned.edit.icon
                .content 
                    a.header Add New Document 
                    .description.
                        Click "add new document" button, fill the form, 
                        add new document 
                    
    
    
    h3.ui.block.big.attached.header Example
    .ui.attached.segment
        checkbox(checked="{{ button.show }}") Show/hide Bound component 1

        +if('button.show')
            data-table(
                settings="{{ myTable.settings }}"
                db="{{ db }}"
                lastchange="{{ changes }}"
                curr-url="{{ currPage }}"
                enabled="{{ true }}"

                products="{{combobox.products}}"
                units="{{combobox.units}}"
                )
                +partial('header')
                    include ./header.pug

                +partial('viewForm')
                    include ./view-form.pug

                +partial('editForm')
                    include ./edit-form.pug
