ack-button(
    class="{{class}} {{colorclass}} {{#disabled}}disabled{{/}}" 
    style="{{style}}"
    disabled="{{disabled}}"
    enabled="{{enabled}}"
    auto="{{default}}"
    tooltip="{{tooltip}}"
    on-click="click") {{yield}}
