include ../../templates/mixins.jade
    
+partial('b-progress-bar')
  .b-progress-bar
    .progress
      .progress-bar.progress-bar-striped(
        role="progressbar"
        aria-valuenow="{{ .val }}"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: {{ .val }}%"
        )
        span.sr-only {{ .val }}% Complete
