include ../../templates/mixins.jade
    
+partial('jq-slider')
  .jq-slider.
    <input 
      value="{{ .val }}"
      class="jq-slider__container" 
      min="0" 
      max="100" 
      data-highlight="true" />

  
  
