extends ../templates/template.jade
block script             
    script(src="order.js")
block title 
    title Siparişler
    
block ractive     
    panel
        login(on-login="afterLoggedIn" context="{{ login }}" db="{{ db }}")

    +if('login.ok')
        h2 Reçeteler:
        order-table(
            cols="{{ receiptsColNames }}"
            view-func="{{ receiptsViewGenerator }}"
            default="{{ receiptsDefault }}"
            db="{{ db }}"
            view="primitives/getReceipts"
            gen-entry-id="{{ genEntryId }}"
            )
            +partial('addnewTitle')
                | Reçete Ekle
            panel(title="Reçete" type="primary")
                //- {{ JSON.stringify(curr) }}
                form-vertical
                    form-group
                        span Ürün Adı: 
                        input(value="{{ curr.productName }}" )
                    +each('curr.contents:i')
                        form-group
                            span Hammadde: 
                            input(value="{{ .['material'] }}")
                            input(value="{{ .['amount'] }}")
                            btn(on-buttonclick="deleteOrder" value="contents: {{ i }}")
                                icon-remove
                    form-group
                        btn(on-buttonclick="addNewEntry" value="contents")
                            icon-plus 
                            span Hammadde Ekle
                btn(on-buttonclick="addNewOrderClose") Kapat!
                btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}

        h2 Siparişler:
        order-table(
            cols="{{ ordersColNames }}"
            view-func="{{ ordersViewGenerator }}"
            default="{{ ordersDefault }}"
            db="{{ db }}"
            view="orders/getOrders"
            gen-entry-id="{{ genEntryId }}"
            )
            +partial('addnewTitle')
                | Yeni Sipariş Ekle
                
            panel(title="Sipariş" type="primary")
                //- {{ JSON.stringify(curr) }}
                form-vertical
                    form-group
                        span Müşteri: 
                        input(value="{{ curr.client }}" disabled="true")
                    form-group
                        span Teslim Tarihi: 
                        input(value="{{ curr.dueDate }}" disabled="false")
                    +each('curr.entries:i')
                        form-group
                            span Type
                            input(value="{{ .['product'] }}")
                            input(value="{{ .['amount'] }}")
                            btn(on-buttonclick="deleteOrder" value="entries: {{ i }}")
                                icon-remove
                    form-group
                        btn(on-buttonclick="addNewEntry" value="entries")
                            icon-plus 
                            span Kalem Ekle
                btn(on-buttonclick="addNewOrderClose") Kapat!
                btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}
    
        // JADE 
        search-combobox(data="{{ myList }}" selected="{{ selected }}")
        // selected: -1 olmalı 
        // seçim yapıldığı zaman liste indexini bu değişkene girmeli 
