include ../../templates/mixins.jade

+partial('scada-generate-layout')
  .scada-generate-layout(style="max-height: 200px;")
    a(href="#layout-output-{{ .actor_id }}", data-rel="popup") 
      button(type=button) Generate Layout!
    
    .ui-corner-all.ui-popup.ui-body-a.ui-overlay-shadow(
      data-role="popup" 
      id="layout-output-{{ .actor_id }}" 
      data-theme="b"
      )        
        h3 Generated layout 
        :md
          [--> scada-layout.ls](https://github.com/ceremcem/aktos-website/blob/master/app/static/scada-layout.ls)
        textarea.scada-generate-layout__textarea(
          id="layout-output-area-{{ .actor_id }}")
