#demos(data-theme="b", data-role="page")
  | {{>nav-bar {active_button: 'demos'}}}

  .scada.content
    
    .row.vcenter(style="padding: 6em;")
      .col-md-offset-2.col-md-4
        h2
          :md 
            **aktos-scada** Demo
      
        a(
          href="#demo-popup-menu"
          data-rel="popup"
          data-role="button"
          data-inline="true"
          data-transition="none"
          data-icon="gear"
          data-theme="e"
          ).
          Canlı SCADA örnekleri ->
          
        div(
          id="demo-popup-menu"
          data-role="popup"
          data-theme="d"
          )
          ul(
            data-role="listview"
            data-inset="true"
            style="min-width:210px;" 
            data-theme="d"
            )
            li
              a(href="#/cici-meze") Gıda Otomasyonu 

    .row.vcenter
      .col-md-offset-1.col-md-10.col-md-offset-1
        :md
          # Bu sayfa ne işe yarar? 
          Bu sayfada **aktos-scada**'da kullanılan 
          görsel nesnelerin örnekleri bulunur. Tüm görsel nesneleri görebilir, 
          değerlerini değiştirebilir, yeniden konumlandırabilir, yeniden boyutlandırabilirsiniz. 
          
          # Bu sayfa nasıl kullanılır? 
          1. Basitçe kaydırmalı girişleri kullanarak nesnelerin değerini değiştirin. 
          2. Bu sayfayı yeni bir pencerede açın. Bir pencerede yaptığınız değişiklikleri diğer pencerede aynı anda görün. 
          3. Bu sayfayı birden fazla cihazda açın. Bir cihazda yaptığınız değişikliği aynı anda diğer bir cihazda görün. 
          
    .row
      br
      br
      br
    .row
      .col-md-offset-1.col-md-10.col-md-offset-1
        include demos-showcase.jade
            
    | {{>connection-status {} }}
