//- text mode 
+if('readonly')
    .ui(
        class="{{#emptyReduced}}red{{/}} {{#if button}}button disabled{{else}}basic label{{/if}}"
        ) 
        +iff('~/["selected-key"]')
            +iff('item[nameField]')
                | {{item[nameField]}}
            +else 
                span.text.red(style="font-style: italic") {{~/['selected-key']}}
            +endif
        +else 
            | {{nothingSelected}}
        +endif

//- r/w dropdown 
+iff('inline || button || compact')
    .ui.dropdown(class="{{class}} \
        \
        {{#disabled}}disabled{{/}} \
        {{#inline}}inline{{/}} \
        {{#button}}floating icon button{{/}} \
        {{#compact}}compact floating{{/}}  \
        \
        {{#loading}}loading{{/}} \
        {{#emptyReduced}}error{{/}} {{#nomatch}}warn{{/}}"
        style="{{#readonly}}display: none{{/}}"
        )
        i.dropdown.icon
        +space
        //-.default.text {{ placeholder | '----' }}
        +iff('nomatch')
            icon.exclamation.triangle 
                span.text.red(style="font-style: italic") {{~/['selected-key']}}
        +else
            span.text -------
        +endif
        .menu
            //turn off autocomplete
            input(type="hidden" value="something")
            .ui.icon.search.input
                i.search.icon
                input(type="search" autocomplete="off" placeholder="Search...")

            +each('dataReduced as item')
                .item(
                    data-value!="{{item[keyField]}}" 
                    class-disabled="blacklist == item[keyField]"
                    title="{{._tooltip}}"
                    ) {{item[nameField]}}

            +if('emptyReduced && ~/["allow-addition"]')
                ack-button.green.fluid.bottom.attached(on-click="_add")
                    icon.plus {{~/['search-term']}}

//- custom 
+elif('@this.partials.custom')
    +apply('custom')

//- default 
+else
    //-div(style="display: inline-block")
    .ui.search.selection.dropdown(class="{{class}} \
        {{#disabled}}disabled{{/}} \
        {{#loading}}loading{{/}} \
        {{#emptyReduced}}error{{/}}"
        style="{{#readonly}}display: none{{/}}"
        )
        input(type="hidden" name="{{_guid}}")
        i.dropdown.icon
        +iff('nomatch')
            icon.exclamation.triangle 
                span.text.red(style="font-style: italic") {{~/['selected-key']}}
        +endif
        .default.text {{ placeholder }}
        .menu
            +each('dataReduced')
                .item(data-value!="{{.[keyField]}}" title="{{._tooltip}}") {{.[nameField]}}

            +if('@this.getContext().hasListener("add", true) && ~/["search-term"]')
                +iff("@this.partials.addNew ")
                    +apply('addNew')
                +else 
                    ack-button.green.fluid.bottom.attached(on-click="_add")
                        icon.plus {{~/['search-term']}}
                +endif
+endif


//- ----------------------------------------------------------------------------
//- Debug output
//- ----------------------------------------------------------------------------
+if('debug')
    p guid: {{_guid}}
    debug-obj(obj="{{~/['selected-key']}}" title="'selected-key'")
    debug-obj(obj="{{item}}" title="Selected 'item'")
    debug-obj(obj="{{data}}" title="data")
