.ui.segment
    .ui.input 
        input(value="{{ newContent }}" placeholder="content...")
    ack-button(on-buttonclick="addNewItem" value="{{ newContent }}") Add New Item
    p
        checkbox(checked="{{ isEditable }}") Editable

    p {{ doneItemsLength }} out of {{ itemsLength }} items done.

    .ui.middle.aligned.divided.list
        +each('checklist')
            .item(class="{{#if .isDone}}green{{/if}} {{#if .isEditing}}red{{/if}}")
                .content
                    checkbox(
                        checked="{{ .isDone }}"
                        on-statechange="statechanged"
                        value="{{ .id }}"
                        )
                        +iff('isEditing(.id) && isEditable')
                            .ui.input 
                                input(value="{{ editingContent }}")
                        +else
                            | {{ .content }} ({{ unixToReadable(.dueTimestamp)}})
                        +endif

                +if('isEditable')
                    ack-button(
                        on-buttonclick="startEditing"
                        value="{{ .id }}"
                        disabled="{{ isEditing(.id) }}"
                        ) Edit

                    +if('isEditing(.id)')
                        date-picker(unix="{{ newDueTimestamp }}" mode="popup")
                        ack-button(value="{{ . }}" on-buttonclick="saveChanges") Save
                        ack-button(on-buttonclick="cancelEdit") Cancel
